In [34]:
import pandas as pd

In [35]:
df = pd.read_csv('.\contracts.csv')

In [37]:
excluded_types = ['10-Day Contract', 'Rookie Contract', 'Two-Way Contract', 'Exhibit 10', 'Camp Invite', 'Rookie Scale Contract']
df = df[~df.TYPE.isin(excluded_types)]

df.to_csv('contracts.csv',sep = ',' , decimal = '.', index = False)
df.head()

,PLAYER,AGE,POS,TEAM,DATE,TYPE,METHOD,EXTENSION,LENGTH,VALUE,AAV
12,Vince Williams Jr.,23,SF,MEM,"Jan 10, 2024",Veteran Contract,MLE,0,3-4,"$9,144,340","$2,286,085"
20,Miles McBride,23,PG,NYK,"Dec 30, 2023",Veteran Extension,Bird Exception,1,3,"$13,000,000","$4,333,333"
26,Juan Toscano-Anderson,30,SF,SAC,"Dec 15, 2023",Veteran Contract,Minimum Salary Exception,0,1,"$1,517,989","$1,517,989"
27,Taj Gibson,38,"C, PF",NYK,"Dec 15, 2023",Veteran Contract,Minimum Salary Exception,0,1,"$2,241,188","$2,241,188"
28,James Johnson,36,"PF, SF",IND,"Dec 15, 2023",Veteran Contract,Minimum Salary Exception,0,1,"$2,241,188","$2,241,188"