In [74]:
import pandas as pd

In [75]:
df = pd.read_csv('.\contracts.csv')

In [76]:
excluded_types = ['10-Day Contract', 'Rookie Contract', 'Two-Way Contract', 'Exhibit 10', 'Camp Invite', 'Rookie Scale Contract']
df = df[~df.TYPE.isin(excluded_types)]

df.to_csv('contracts.csv', sep = ',' , decimal = '.', index = False)
df.head()

,PLAYER,AGE,POS,TEAM,DATE,TYPE,METHOD,EXTENSION,LENGTH,VALUE,AAV
0,Patty Mills,35,PG,MIA,"Mar 6, 2024",Veteran Contract,Minimum Salary Exception,0,1.0,"$753,186","$753,186"
1,Malik Shake Milton,27,SG,NYK,"Mar 5, 2024",Veteran Contract,Minimum Salary Exception,0,1.0,"$552,938","$552,938"
2,Kelly Olynyk,32,"C, PF",TOR,"Mar 4, 2024",Veteran Extension,Bird Exception,1,2.0,"$26,250,000","$13,125,000"
3,Kendall Brown,20,"SG, SF",IND,"Mar 3, 2024",Veteran Contract,Room-MLE,0,2.5,"$5,522,270","$1,840,757"
4,A.J. Lawson,23,SG,DAL,"Mar 3, 2024",Veteran Contract,MLE,0,4.0,"$7,912,022","$1,978,006"

In [78]:
options = df['LENGTH'].astype(str).str.contains('-').tolist()
out = []

for target in df.loc[options, 'LENGTH'].tolist():
    new_val = str(target).split('-')
    new_val = (int(new_val[0]) + int(new_val[-1])) / 2

    out.append(new_val)

df.loc[options, 'LENGTH'] = out
df.to_csv('contracts.csv', sep = ',' , decimal = '.', index = False)
df.head()

,PLAYER,AGE,POS,TEAM,DATE,TYPE,METHOD,EXTENSION,LENGTH,VALUE,AAV
0,Patty Mills,35,PG,MIA,"Mar 6, 2024",Veteran Contract,Minimum Salary Exception,0,1.0,"$753,186","$753,186"
1,Malik Shake Milton,27,SG,NYK,"Mar 5, 2024",Veteran Contract,Minimum Salary Exception,0,1.0,"$552,938","$552,938"
2,Kelly Olynyk,32,"C, PF",TOR,"Mar 4, 2024",Veteran Extension,Bird Exception,1,2.0,"$26,250,000","$13,125,000"
3,Kendall Brown,20,"SG, SF",IND,"Mar 3, 2024",Veteran Contract,Room-MLE,0,2.5,"$5,522,270","$1,840,757"
4,A.J. Lawson,23,SG,DAL,"Mar 3, 2024",Veteran Contract,MLE,0,4.0,"$7,912,022","$1,978,006"