In [2]:
import pandas as pd
import datetime

In [4]:
df = pd.read_csv('contracts.csv')

In [76]:
excluded_types = ['10-Day Contract', 'Rookie Contract', 'Two-Way Contract', 'Exhibit 10', 'Camp Invite', 'Rookie Scale Contract']
df = df[~df.TYPE.isin(excluded_types)]

df.to_csv('contracts.csv', sep = ',' , decimal = '.', index = False)
df.head()

,PLAYER,AGE,POS,TEAM,DATE,TYPE,METHOD,EXTENSION,LENGTH,VALUE,AAV
0,Patty Mills,35,PG,MIA,"Mar 6, 2024",Veteran Contract,Minimum Salary Exception,0,1.0,"$753,186","$753,186"
1,Malik Shake Milton,27,SG,NYK,"Mar 5, 2024",Veteran Contract,Minimum Salary Exception,0,1.0,"$552,938","$552,938"
2,Kelly Olynyk,32,"C, PF",TOR,"Mar 4, 2024",Veteran Extension,Bird Exception,1,2.0,"$26,250,000","$13,125,000"
3,Kendall Brown,20,"SG, SF",IND,"Mar 3, 2024",Veteran Contract,Room-MLE,0,2.5,"$5,522,270","$1,840,757"
4,A.J. Lawson,23,SG,DAL,"Mar 3, 2024",Veteran Contract,MLE,0,4.0,"$7,912,022","$1,978,006"

In [78]:
options = df['LENGTH'].astype(str).str.contains('-').tolist()
out = []

for target in df.loc[options, 'LENGTH'].tolist():
    new_val = str(target).split('-')
    new_val = (int(new_val[0]) + int(new_val[-1])) / 2

    out.append(new_val)

df.loc[options, 'LENGTH'] = out
df.to_csv('contracts.csv', sep = ',' , decimal = '.', index = False)
df.head()

,PLAYER,AGE,POS,TEAM,DATE,TYPE,METHOD,EXTENSION,LENGTH,VALUE,AAV
0,Patty Mills,35,PG,MIA,"Mar 6, 2024",Veteran Contract,Minimum Salary Exception,0,1.0,"$753,186","$753,186"
1,Malik Shake Milton,27,SG,NYK,"Mar 5, 2024",Veteran Contract,Minimum Salary Exception,0,1.0,"$552,938","$552,938"
2,Kelly Olynyk,32,"C, PF",TOR,"Mar 4, 2024",Veteran Extension,Bird Exception,1,2.0,"$26,250,000","$13,125,000"
3,Kendall Brown,20,"SG, SF",IND,"Mar 3, 2024",Veteran Contract,Room-MLE,0,2.5,"$5,522,270","$1,840,757"
4,A.J. Lawson,23,SG,DAL,"Mar 3, 2024",Veteran Contract,MLE,0,4.0,"$7,912,022","$1,978,006"

In [25]:
point_gaurd = []
shooting_gaurd = []
small_forward = []
power_forward = []
center = []

positions = [('PG', point_gaurd), ('SG', shooting_gaurd), ('SF', small_forward), ('PF', power_forward), ('C', center)]

for i in df.index:
    for pos in positions:
        if pos[0] in df['POS'][i]:
            pos[1].append(1)

        else:
            pos[1].append(0)

for pos in positions:
    df.loc[:, pos[0]] = pos[1]

df = df.drop('POS', axis = 1)
df.head()

,PLAYER,AGE,TEAM,DATE,TYPE,METHOD,EXTENSION,LENGTH,VALUE,AAV,PG,SG,SF,PF,C
0,Patty Mills,35,MIA,"Mar 6, 2024",Veteran Contract,Minimum Salary Exception,0,1.0,"$753,186","$753,186",1,0,0,0,0
1,Malik Shake Milton,27,NYK,"Mar 5, 2024",Veteran Contract,Minimum Salary Exception,0,1.0,"$552,938","$552,938",0,1,0,0,0
2,Kelly Olynyk,32,TOR,"Mar 4, 2024",Veteran Extension,Bird Exception,1,2.0,"$26,250,000","$13,125,000",0,0,0,1,1
3,Kendall Brown,20,IND,"Mar 3, 2024",Veteran Contract,Room-MLE,0,2.5,"$5,522,270","$1,840,757",0,1,1,0,0
4,A.J. Lawson,23,DAL,"Mar 3, 2024",Veteran Contract,MLE,0,4.0,"$7,912,022","$1,978,006",0,1,0,0,0

In [26]:
for col in ['VALUE', 'AAV']:
    df[col] = df[col].str.replace('$', '').str.replace(',', '').astype(float)

df.head()

,PLAYER,AGE,TEAM,DATE,TYPE,METHOD,EXTENSION,LENGTH,VALUE,AAV,PG,SG,SF,PF,C
0,Patty Mills,35,MIA,"Mar 6, 2024",Veteran Contract,Minimum Salary Exception,0,1.0,753186.0,753186.0,1,0,0,0,0
1,Malik Shake Milton,27,NYK,"Mar 5, 2024",Veteran Contract,Minimum Salary Exception,0,1.0,552938.0,552938.0,0,1,0,0,0
2,Kelly Olynyk,32,TOR,"Mar 4, 2024",Veteran Extension,Bird Exception,1,2.0,26250000.0,13125000.0,0,0,0,1,1
3,Kendall Brown,20,IND,"Mar 3, 2024",Veteran Contract,Room-MLE,0,2.5,5522270.0,1840757.0,0,1,1,0,0
4,A.J. Lawson,23,DAL,"Mar 3, 2024",Veteran Contract,MLE,0,4.0,7912022.0,1978006.0,0,1,0,0,0

In [29]:
df['DATE'] = pd.to_datetime(df['DATE'])
df.to_csv('contracts.csv', sep = ',' , decimal = '.', index = False)
df.head()

,PLAYER,AGE,TEAM,DATE,TYPE,METHOD,EXTENSION,LENGTH,VALUE,AAV,PG,SG,SF,PF,C
0,Patty Mills,35,MIA,2024-03-06,Veteran Contract,Minimum Salary Exception,0,1.0,753186.0,753186.0,1,0,0,0,0
1,Malik Shake Milton,27,NYK,2024-03-05,Veteran Contract,Minimum Salary Exception,0,1.0,552938.0,552938.0,0,1,0,0,0
2,Kelly Olynyk,32,TOR,2024-03-04,Veteran Extension,Bird Exception,1,2.0,26250000.0,13125000.0,0,0,0,1,1
3,Kendall Brown,20,IND,2024-03-03,Veteran Contract,Room-MLE,0,2.5,5522270.0,1840757.0,0,1,1,0,0
4,A.J. Lawson,23,DAL,2024-03-03,Veteran Contract,MLE,0,4.0,7912022.0,1978006.0,0,1,0,0,0

In [35]:
def off_or_mid(the_date):
    cutoffs = [[datetime.datetime(2023, 10, 24), datetime.datetime(2024, 4, 14)], 
                  [datetime.datetime(2022, 10, 18), datetime.datetime(2023, 4, 9)],
                  [datetime.datetime(2021, 10, 19), datetime.datetime(2022, 3, 10)]]
    #find if mid season or off season
    date = datetime.datetime.strptime(the_date, '%Y-%m-%d')
    for season_dates in cutoffs :
        if season_dates[0] <= date <= season_dates[1]:
            return True
    return False

In [36]:

dfCopy = df.copy()
dfCopy['MID SEASON'] = df['DATE'].apply(off_or_mid)
dfCopy.head()

,PLAYER,AGE,TEAM,DATE,TYPE,METHOD,EXTENSION,LENGTH,VALUE,AAV,PG,SG,SF,PF,C,MID SEASON
0,Patty Mills,35,MIA,2024-03-06,Veteran Contract,Minimum Salary Exception,0,1.0,753186.0,753186.0,1,0,0,0,0,True
1,Malik Shake Milton,27,NYK,2024-03-05,Veteran Contract,Minimum Salary Exception,0,1.0,552938.0,552938.0,0,1,0,0,0,True
2,Kelly Olynyk,32,TOR,2024-03-04,Veteran Extension,Bird Exception,1,2.0,26250000.0,13125000.0,0,0,0,1,1,True
3,Kendall Brown,20,IND,2024-03-03,Veteran Contract,Room-MLE,0,2.5,5522270.0,1840757.0,0,1,1,0,0,True
4,A.J. Lawson,23,DAL,2024-03-03,Veteran Contract,MLE,0,4.0,7912022.0,1978006.0,0,1,0,0,0,True

In [54]:
def get_season(the_date):
    cutoffs = [[datetime.datetime(2023, 10, 24), datetime.datetime(2024, 4, 14)], 
                  [datetime.datetime(2022, 10, 18), datetime.datetime(2023, 4, 9)],
                  [datetime.datetime(2021, 10, 19), datetime.datetime(2022, 3, 10)]]
    #find if mid season or off season
    season = None
    date = datetime.datetime.strptime(the_date, '%Y-%m-%d')
    for season_dates in cutoffs :
        if (season_dates[0] <= date <= season_dates[1]) or (date >= season_dates[1]):
            return str(season_dates[0].year) + '-' + str(season_dates[1].year)[2:]
    return "2020-21"

In [55]:
dfCopy['SEASON'] = df['DATE'].apply(get_season)
dfCopy.head(600)

,PLAYER,AGE,TEAM,DATE,TYPE,METHOD,EXTENSION,LENGTH,VALUE,AAV,PG,SG,SF,PF,C,MID SEASON,SEASON
0,Patty Mills,35,MIA,2024-03-06,Veteran Contract,Minimum Salary Exception,0,1.0,753186.0,753186.0,1,0,0,0,0,True,2023-24
1,Malik Shake Milton,27,NYK,2024-03-05,Veteran Contract,Minimum Salary Exception,0,1.0,552938.0,552938.0,0,1,0,0,0,True,2023-24
2,Kelly Olynyk,32,TOR,2024-03-04,Veteran Extension,Bird Exception,1,2.0,26250000.0,13125000.0,0,0,0,1,1,True,2023-24
3,Kendall Brown,20,IND,2024-03-03,Veteran Contract,Room-MLE,0,2.5,5522270.0,1840757.0,0,1,1,0,0,True,2023-24
4,A.J. Lawson,23,DAL,2024-03-03,Veteran Contract,MLE,0,4.0,7912022.0,1978006.0,0,1,0,0,0,True,2023-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554,Noah Vonleh,25,BKN,2021-02-08,Veteran Contract,Minimum Salary Exception,0,1.0,1361659.0,1361659.0,0,0,0,1,1,False,2020-21
555,Iman Shumpert,30,BKN,2021-01-30,Veteran Contract,Minimum Salary Exception,0,1.0,1708770.0,1708770.0,1,1,0,0,0,False,2020-21
556,Norvel Pelle,27,BKN,2021-01-28,Veteran Contract,Minimum Salary Exception,0,2.0,2780915.0,1390458.0,0,0,0,0,1,False,2020-21
557,Alex Len,27,WAS,2021-01-23,Veteran Contract,Minimum Salary Exception,0,1.0,1697755.0,1697755.0,0,0,0,0,1,False,2020-21
558,Taj Gibson,35,NYK,2021-01-07,Veteran Contract,Minimum Salary Exception,0,1.0,2283684.0,2283684.0,0,0,0,1,1,False,2020-21